{% extends 'base.html.twig' %}

{% block title %}New CountrySong{% endblock %}

{% block body %}
    <h1>Create new CountrySong</h1>

    {{ include('country_song/_form.html.twig') }}

    <a href="{{ path('country_song_index') }}">back to list</a>
{% endblock %}